.code {
	font-family: "Cascadia Mono", Courier, monospace;
	font-size: 1.2em;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 0;
	overflow: auto;
	border-radius: 5px;
}
